<div class="container">
    <form #heroForm="ngForm" (ngSubmit)="onSubmit(heroForm)">
        <div class="form-group">
            <label for="power">Number of servers:</label>
            <input class="form-control" type="number" required [(ngModel)]="model.number_of_servers" name="quantity"
                min="1" max="10" #serverQuantity="ngModel">
            <div *ngIf="serverQuantity.value < 1 || serverQuantity.value > 10" class="alert alert-danger">
                <div>
                    Number of servers must be between including 1 to 10.
                </div>
            </div>
            <hr />
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>